version: '3.8'

services:
  pgadmin:
    container_name: scholar_pgadmin
    image: dpage/pgadmin4
    env_file:
      - .env
    volumes:
      - ./pgadmin:/var/lib/pgadmin
    ports:
      - "${PGADMIN_PORT_HOST}:80"
    restart: unless-stopped

  app:
    build: .
    restart: always
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      DATABASE_URL: postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}
    ports:
      - "8000:8000"
