version: '3.8'

services:
  postgres:
    container_name: scholar_postgres
    image: postgres:latest
    env_file:
      - .env
    volumes:
      - ./init_DB:/docker-entrypoint-initdb.d
      - ./data:${PGDATA}
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    restart: unless-stopped

  pgadmin:
    container_name: scholar_pgadmin
    image: dpage/pgadmin4
    env_file:
      - .env
    volumes:
      - ./pgadmin:/var/lib/pgadmin
    ports:
      - "${PGADMIN_PORT_HOST}:80"
    restart: unless-stopped

  app:
    build: .
    restart: always
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      DATABASE_URL: postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}
    ports:
      - "8000:8000"
